// Non User Home SASS

.non-user-home-main {
  height: 94vh;
  width: 100vw;
  margin-top: 57px;
  // border: 2px solid red;

  .HomePageContainer {
    height: 97%;
    width: 98%;
    margin: 5px auto 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    // border: 2px solid blue;

    .HomePageInfoContainer {
      height: 97%;
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      // border: 2px solid green;

      .AboutHomePageInfoContainer {
        height: 45%;
        width: 98%;
        // border: 2px solid red;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url('https://img.freepik.com/free-vector/open-book-brown-cover_135176-247.jpg?size=626&ext=jpg');
        background-position: center;
        background-repeat:  no-repeat;
        background-size: 100% 100%;

        .AboutHomePageInfoContent {
          height: 90%;
          width: 97%;
          // border: 2px solid red;
          margin-bottom: 10px;
          display: flex;
          flex-direction: row;
          justify-content: center;

          .Contents1 {
            width: 41%;
            height: 84%;
            // border: 2px solid blue;
            display: flex;
            flex-direction: column;
            align-items: center;

            .Contents1Heading {
              font-weight: bold;
              padding-top: 5px;
            }

            .ContentsList1 {
              width: 90%;
              height: 80%;
              // border: 2px solid rgb(247, 0, 255);
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;

              .Book1List {
                font-size: 15px;
              }
            }
          }

          .AboutTitleandInfo {
            width: 43%;
            height: 84%;
            // border: 2px solid blue;
            display: flex;
            flex-direction: column;
            align-items: center;

            .Chapter1Title {
              width: 100;
              padding-top: 5px;
              display: flex;
              flex-direction: column;
              align-items: center;

              .Chapter1TitleHeading {
                font-weight: bold;
              }

              .Chapter1TitleInfo {
                font-style: italic;
                font-size: 15px;
                text-decoration: underline;
              }
            }

            .Chapter1Contents {
              width: 90%;
              height: 80%;
              // border: 2px solid pink;
              padding: 0px 2px;
              display: flex;
              flex-direction: row;
              align-items: center;
              text-align: center;

              .Chapter1Info {
                font-size: 13px;
                color: rgb(41, 39, 39);
              }
            }
          }
        }
      }

      .BookClubHomePageInfoContainer {
        height: 45%;
        width: 98%;
        // border: 2px solid red;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5px;
        background-image: url('https://img.freepik.com/free-vector/open-book-brown-cover_135176-247.jpg?size=626&ext=jpg');
        background-position: center;
        background-repeat:  no-repeat;
        background-size: 100% 100%;

        .BookClubHomePageInfoContent {
          height: 90%;
          width: 97%;
          // border: 2px solid red;
          margin-bottom: 10px;
          margin-top: 4px;
          display: flex;
          flex-direction: row;
          justify-content: center;

          .Contents2 {
            width: 41%;
            height: 84%;
            // border: 2px solid blue;
            display: flex;
            flex-direction: column;
            align-items: center;

            .Contents2Heading {
              font-weight: bold;
              padding-top: 5px;
            }

            .ContentsList2 {
              width: 90%;
              height: 80%;
              // border: 2px solid rgb(247, 0, 255);
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;

              .Book2List {
                font-size: 15px;
              }
            }
          }

          .BookClubTitleandInfo {
            width: 43%;
            height: 84%;
            // border: 2px solid blue;
            display: flex;
            flex-direction: column;
            align-items: center;

            .Chapter2Title {
              width: 100;
              padding-top: 5px;
              display: flex;
              flex-direction: column;
              align-items: center;

              .Chapter2TitleHeading {
                font-weight: bold;
              }

              .Chapter2TitleInfo {
                font-style: italic;
                font-size: 15px;
                text-decoration: underline;
              }
            }

            .Chapter2Contents {
              width: 90%;
              height: 80%;
              // border: 2px solid pink;
              padding: 0px 2px;
              display: flex;
              flex-direction: row;
              text-align: center;
              align-items: center;

              .Chapter2Info {
                font-size: 13px;
                color: rgb(41, 39, 39);
              }
            }
          }
        }
      }
    }

    .NonUserHomePageCarouselContainer {
      height: 97%;
      width: 68%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 10px;
      // border: 2px solid green;
      box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

      .NonUserHomePageCarouselContent {
        height: 32%;
        width: 97%;
        display: flex;
        margin: 10px auto 5px;
        flex-direction: column;
        // align-items: center;
        // border: 2px solid yellow;
        
        .CarouselTitle1 {
          height: 10%;
          width: 97%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin: 0 auto;
          // border: 2px solid brown;

          .CarouselTitleContent{
            color: rgb(55, 79, 158);
          }
        }
        .NonUserCarouselImagesContainer {
          height: 80%;
          width: 100%;
          border-bottom: 2px solid rgb(199, 194, 194);
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          align-items: center;
        .CarouselImages {
          height: 77%;
          width: 100%;
          // border: 2px solid red;
        }
       }
       #SlickCarousel3 {
         border: none;
       }
      }
    }
  }
  #NonUserHomeMainfooter {
    background-color: rgba($color: #bdb8b8, $alpha: 0.3);
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}


//User Home SASS

.user-home-main {
  height: 92vh;
  width: 100vw;
  margin-top: 57px;
  border: 2px solid red;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  .UserMainHomeContainer {
    width: 97%;
    height: 98%;
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 5px auto 0;

    .LatestBooksContainer {
      width: 20%;
      height: 95%;
      border: 2px solid green;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      .LatestBookCards {
        height: 48%;
        width: 97%;
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        .LatestBookCardsTitle {
        width: 98%;
        height: 15%;
        border: 2px solid gold;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-size: 15px;
      }

      .LatestBookCard {
        width: 98%;
        height: 98%;
        border: 2px solid rgb(0, 255, 136);
        display: flex;
        flex-direction: column;

        .LatestBookCardImageContainer {
          width: 100%;
          height: 70%;
          border: 2px solid brown;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }

        .SearchTitleandAuthorInfo {
          width: 100%;
          height: 30%;
          border: 2px solid red;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
        }
      }
    }  
  }
    .UserCarouselandBookCommentsContainer {
      width: 55%;
      height: 95%;
      border: 2px solid black;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

    .mainHomeCarousel {
      width: 97%;
      height: 40%;
      // border: 2px solid green;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: -webkit-linear-gradient(rgb(180, 237, 247), rgb(113, 175, 190));

      .mainHomeCarouselContainer {
        width: 97%;
        height: 85%;
        // border: 2px solid gold;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .CarouselTitle2{
          width: 100%;
          height: 15%;
          // border: 2px solid blue;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        
          .CarouselTitleContent {
            font-weight: 700;
            color: rgb(173, 63, 36);
          }
        }

        .CarouselSubContainer {
          height: 85%;
          width: 100%;
          // border: 2px solid red;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .UserCarouselAllImages {
            height: 77%;
            width: 100%;
            // border: 2px solid red;
          }
        }
      }
     
      }
      .UserHomeBookCommentsContainer {
        width: 97%;
        height: 57%;
        border: 2px solid rgb(155, 75, 10);
      }
    }
  }
}



#UserHomeMainfooter {
  background-color: rgba($color: #bdb8b8, $alpha: 0.3);
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



// Carousel SASS

.CarouselImgDiv {
  // padding: 0px 15px;
  // margin-top: 30px;
  outline: none;

  .CarouselImg {
    height: 120px;
    width: 80px;
  }
}

// Navbar SASS

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: -webkit-linear-gradient(rgb(180, 237, 247), rgb(113, 175, 190));

}


#AllBooksNav {
  border-bottom: rgb(173, 63, 36);
  color: red;
}

// Login and Register SASS

#loginhero {
  #loginhero-body{
    background-image: url('https://www.sciencenewsforstudents.org/wp-content/uploads/2019/11/860_main_library_bacteria.png');
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
  }
}

#loginbox {
  animation: fade ease-in 1.5s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.8;
  }
}

#registerhero {
  #registerhero-body{
    background-image: url('https://www.sciencenewsforstudents.org/wp-content/uploads/2019/11/860_main_library_bacteria.png');
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
  }
}

#registerbox {
  animation: fade ease-in 1.5s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.8;
  }
}

// Categories SASS

#categorieshero {
  #categorieshero-body{
    background-image: url('https://www.sciencenewsforstudents.org/wp-content/uploads/2019/11/860_main_library_bacteria.png');
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
  }
}

// SearchBooks page for Logged In User

.SearchBookMain {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 57px;
  // border: 2px solid red;

  .SearchBookMainContainer {
    height: 90%;
    width: 90%;
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;


    .SearchBookMainContainerHeader {
      height: 10%;
      width: 95%;
      margin: 5px auto 0px;
      // border: 2px solid gold;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .SearchBookSearchForm {
        width: 100%;
        height: 100%;
        display: flex;
        flex: row;
        align-items: center;
        // border: 2px solid green;

        #SearchBookSearchFormBar {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
    .SearchBooksContainer {
      width: 95%;
      height: 90%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // border: 2px solid turquoise;
      margin: 20px auto 0;
      padding-left: 30px;

      .SearchBooksContentContainer {
        width: 23%;
        height: 60%;
        // border: 2px solid green;
        background-color: rgb(249, 250, 250);
        padding: 5px;
        margin: 10px 20px 10px 0px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.3);

        .SearchBookImageContainer {
          width: 100%;
          height: 65%;
          // border: 2px solid brown;
          display: flex;
          flex-direction: row;
          align-items: center;

          .SearchBookImageContainerInfo {
            width: 51%;
            height: 100%;
            // border: 2px solid blue;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding-left: 5px;

            .BookImageContainerInfoContent {
              font-size: 15px;
            }
          }
      }
      .SearchBooksContent {
        height: 190px;
        width: 125px;
        // padding: 5px 5px 0px;
        // border-radius: 12px;
      }
    }
    .SearchTitleandAuthorInfo {
      height: 40%;
      width: 100%;
      // border: 2px solid blue;
      display: flex;
      flex-direction: column;

      .SearchTheTitle {
        font-size: 13px;
      }

      .SearchTheAuthor {
        width: 100%;
        height: 90%;
        // border: 2px solid orange;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-bottom: 10px;
      }

      .SeeBookButton {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        // border: 2px solid gold;
  
      .SeeTheBook {
        background-color: rgba(39, 151, 185, 0.719);
      }
      .SeeTheBook:hover {
        background-color: rgba(29, 188, 216, 0.884);
        color: rgb(237, 241, 241);
      }
    }
    }
   }
  }
}


// New Book Card SASS

.card {
  background-color: #c1cfd1;
}


// Categories
.checkbox {
  padding: 20px;
}

// Profile Page
#booksProfileButton {
  margin-top: 40px;
}

#booksClubprofileButton {
  margin-top: 30px;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.file {
  margin-top: 18px;
  margin-left: 15px;
}

// Stying for upload file button
// #file-button-center {
//   margin-top: 20px;
//   width: 100px;
//   height: 100px;
//   margin: 0 auto;
// }


//Single Book Page SASS

.SingleBookMain {
  height: 92vh;
  width: 100vw;
  // border: 2px solid red;
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(237, 241, 241);

  .SingleBookContainer{
    height: 65vh;
    width: 70vw;
    margin: 0 auto;
    // border: 2px solid blue;
    border-radius: 12px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(250, 250, 250);

    #SingleBookImg {
      margin-left: 50px;
      box-shadow: 0 0 0 0.1rem rgb(113, 175, 190);
      border-radius: 12px;
      border: 1px solid rgb(233, 224, 224);

      #TheSingleBookImg {
        height: 300px;
        width: 200px;
        padding: 5px 5px 0px;
        border-radius: 12px;
      }
    }

    .SingleBookInfo {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      // border: 2px solid green;

      .SingleBookTitle {
        text-align: center;
        width: 80%;
        font-size: 20px;
        font-weight: 600;
        margin-top: 20px;
        padding: 5px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
        border-radius: 12px;

        #SingleBookTitleEdit {
          color: rgb(31, 47, 59);
        }
      }

      .SingleBookJuicyInfo {
        width: 90%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        // border: 2px solid yellow;
        align-items: center;
        margin-top: 30px;
        flex-wrap: wrap;
      }

      .BookDescription {
        width: 80%;
        height: 30%;
        margin-top: 20px;
        // border: 2px solid brown;
        display: flex;
        flex-direction: column;
        align-items: center;

        #SingleBookDescriptionTitle {
          text-transform: uppercase;
          text-decoration: underline;
          font-weight: bold;
          color: rgb(39, 71, 95);

        }
        #DescriptionContent{
          width: 95%;
          height: 90%;
          overflow: scroll;
          margin-top: 5px;
          // border: 2px solid teal;
          box-shadow: 0px 3px 15px rgba(59, 44, 44, 0.836);
          color: rgb(61, 85, 97);
          padding: 8px 15px;
          border-radius: 5px;
        }
      }

      .AddBookButton {
        width: 95%;
        height: 13%;
        // border: 2px solid orange;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        #TheBookBomb {
          background-color: orange;
          border: none;
        }
        #TheBookBomb:hover {
          background-color: rgb(228, 214, 22);
          transform: scale(1.02);
          font-weight: bold;
        }
      }
    }
  }
}

// Create Book Club 

#CreateBookClubhero {
  #CreateBookClubhero-body{
    background-image: url('https://www.sciencenewsforstudents.org/wp-content/uploads/2019/11/860_main_library_bacteria.png');
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
  }
}

#CreateBookClubbox {
  animation: fade ease-in 1.5s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.8;
  }
}

//Single Book club page
.mainDetailedBookClub {
  margin-top: 65px;
  height: 90vh;
}

.theDetailedBookClubContainer {
  height: 90vh;
  margin: 0px 15px;
  border: 2px solid black;
  background-color: rgba(236, 240, 243, 0.911);
  display: flex;
  flex-direction: row;
}

.theDetailedBookClubInfoContainer{
  height: 97%;
  width: 20%;
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
}

.theDetailedBookClubInfoContainer2{
  height: 97%;
  width: 80%;
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;
}

//Detailed Book from Library Page SASS

.mainDetailedBook {
  margin-top: 65px;
  height: 90vh;
}

.theDetailedBookcontainer {
  height: 90vh;
  margin: 0px 15px;
  border: 2px solid black;
  background-color: rgba(236, 240, 243, 0.911);
  display: flex;
  flex-direction: row;
}

.theDetailedBookInfocontainer{
  height: 97%;
  width: 50%;
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;

  .ImageandWants {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    // border: 2px solid blue;

    #DBPFigImg {
      margin-left: 20px;
      box-shadow: 0 0 0 0.1rem rgb(113, 175, 190);
      border-radius: 12px;
      border: 1px solid rgb(233, 224, 224);

      #DetailedBookPageImg {
        height: 200px;
        width: 150px;
        padding: 5px 5px 0px;
        border-radius: 12px;
      }
    }

    #titlediv {
      height: 100%;
      width: 70%;
      // border: 2px solid red;
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      #DetailedBookTitle {
        font-size: 20px;
        font-weight: 600;
        margin-right: 8px;
      }
      .Ratings {
        width: 100%;
        height: 60%;
        // border: 2px solid gold;
        display: flex;
        flex-direction: column;
        padding-left: 42px;

      .userRating {
        margin-top: 20px;

        .DetailedBookAverageUserRating {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          // border: 2px solid orange;
          // margin-right: 10px;
           
          #AverageUserStarRatingComponent {
            margin-left: 5px;
            margin-top: 5px;
          }
        }
      }
      .yourRating {
        width: 100%;
        height: 50%;
        // border: 2px solid blue;
        display: flex;
        flex-direction: row;
        align-items: center;

        .DetailedBookUserRating {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          // border: 2px solid orange;
          margin-right: 10px;

          #StarRatingComponent {
            margin-left: 5px;
            margin-top: 5px;
          }
        }
      }
     }
    }

    
  }
  .theDetailedBookInfo {
    height: 60%;
    width: 100%;
    // border: 2px solid green;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .theDetailedBookStats{
      height: 60%;
      width: 100%;
      // border: 2px solid pink;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;

      .stats {
      width: 40%;
      height: 98%;
      border: 1px solid rgb(218, 226, 218);
      box-shadow: 0 0 0 0.1rem rgb(113, 175, 190);
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .generalStatsListItem {
        padding: 10px 0px;

        .statsListTitle {
          text-decoration: underline;
          text-transform: uppercase;
          color: rgb(190, 113, 113);
          font-weight: 600;
        }
      }
      .generalRatingsListItem {
        padding: 10px 0px;

        .ratingsListTitle {
          text-decoration: underline;
          text-transform: uppercase;
          color: rgb(190, 113, 113);
          font-weight: 600;
        }
      }
      
    }
    }
  }

  .descriptionModal {
    height: 30%;
    width: 100%;
    // border: 2px solid brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .to-top{
      color:rgb(127, 148, 194);
      margin-top: 10px;
      padding-top:1.8em;
      display:inline-block;/* or block */
      position:relative;
      border-color:rgb(151, 50, 50);
      text-decoration:none;
      transition:all .3s ease-out;
      animation: pulse 3s infinite;
    }
    
    @keyframes pulse {
      from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    
      50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
      }
    
      to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
    
    @-webkit-keyframes pulse {
      from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    
      50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
      }
    
      to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }
    .to-top:before{
      content:'▲';
      font-size:0.9em;
      position:absolute;
      top:0;
      left:50%;
      margin-left:-0.5em;
      // border:solid .13em rgb(209, 45, 45);
      // border-radius:10em;
      width:1.4em;
      height:1.4em;
      line-height:1.3em;
      border-color:inherit;
      transition:transform .5s ease-in;
    }
    .to-top:hover{
      color:rgb(172, 55, 75);
      border-color:rgb(168, 42, 63);
    }
  }
  
  .Addons {
    height: 30%;
    width: 95%;
    // border: 2px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
  }

}

#theDetailedBookInfocontainer1 {
  border-right: 2px solid black;
}

.allComments {
  height: 80%;
  width: 100%;
  border: 0.5px solid rgb(236, 236, 238);
  background-color: rgb(243, 237, 237);
  box-shadow: 0 0 0 0.1rem rgb(113, 175, 190);
  border-radius: 12px;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-color:  rgb(146, 94, 73);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  .CommentContainer {
    height: 30%;
    width: 95%;
    margin: 5px auto 0px;
    display: flex;
    flex-direction: row;
    background-color: rgb(252, 249, 249);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    // border: 2px solid blue;

    .AComment {
      width: 87%;
      height: 100%;
      // border: 2px solid orange;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      .CommentsContent {
        width: 100%;
        height: 80%;
        border-bottom: 2px solid rgba(235, 234, 234, 0.712);
        overflow: scroll;
        background-color: rgb(253, 253, 253);
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
      }
      .CommentUserInfo {
        width: 100%;
        height: 25%;
        // border: 2px solid yellow;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .IconsandName {
          width: 70%;
          height: 100%;
          // border: 2px solid green;
          display: flex;
          flex-direction: row;
          align-items: center;

          .Icons {
            width: 30%;
            height: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            // border: 2px solid brown;

            .IconSymbol {
              padding: 0px 5px;

              #deleteSymbol {
                color: rgb(131, 55, 55)
              }
              #deleteSymbol:hover {
                color: rgb(252, 4, 4)
              }

              #editSymbol {
                color: rgb(56, 148, 63);
              }

              #editSymbol:hover {
                color: rgb(26, 212, 42);
              }
            }
          }

          .CommentUserName {
            padding-left: 20px;
          .PostedBy {
            font-size: 15px;
          }
        }
        }

        .timeStamp {
          width: 30%;
          height: 100%;
          // border: 2px solid blue;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;

          .timeStampInfo {
            text-transform: capitalize;
            color: rgb(42, 139, 219);
            font-size: 15px;
          }
        }
      }
    }
  }
}

.addComment {
  width: 100%;
  margin-top: 20px;

  #commentSubmitButton {
    margin-top: 5px;
    background-color:  rgb(113, 175, 190);
  }

  #commentSubmitButton:hover {
   background-color:  rgb(112, 211, 186);
  }
}





  
 




// User Library + Library Bookcard + Search Form My Library SASS

.mainMyLibrary {
  height: 100vh;
  width: 100vw;
  // border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 56px;

  .mainMyLibraryContainer {
    height: 90%;
    width: 90%;
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;

    .mainMyLibraryContainerHeader {
      height: 10%;
      width: 95%;
      margin: 5px auto 0px;
      // border: 2px solid gold;
      display: flex;
      flex-direction: row;
      // flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;

      .MyLibraryTitle {
        font-size: 30px;
        font-weight: bold;
      }

      .MyLibrarySearchForm {
        width: 40%;
        height: 100%;
        display: flex;
        flex: row;
        align-items: center;
        // border: 2px solid green;

        #MyLibrarySearchFormBar {
          width: 80%;
          margin: 0 auto;
        }

        
      }
      .MyLibraryFilterButtons {
        width: 45%;
        height: 100%;
        // border: 2px solid blue;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        .FilterButtonEdit {
          background-color:rgb(113, 175, 190);
        }
        .FilterButtonEdit:hover {
          background-color:rgb(101, 165, 204);
        }
      }
    }
    
    .BooksContainer {
      width: 95%;
      height: 90%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // border: 2px solid turquoise;
      margin: 20px auto 0;
      padding-left: 25px;

      .BooksContentContainer {
        width: 23%;
        height: 60%;
        // border: 2px solid green;
        background-color: rgb(244, 247, 247);
        padding: 5px;
        margin: 10px 20px 10px 0px;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

        .BookImageContainer {
          width: 100%;
          height: 65%;
          // border: 2px solid brown;
          display: flex;
          flex-direction: row;
          align-items: center;

          .BookImageContainerInfo {
            width: 51%;
            height: 100%;
            // border: 2px solid blue;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            padding-left: 10px;

            .BookImageContainerInfoContent {
              font-size: 15px;
            }
          }
        }
        // .MyLibraryBooksFigure {
        //   margin-left: 20px;
        //   box-shadow: 0 0 0 0.1rem rgb(113, 175, 190);
        //   border-radius: 12px;
        //   border: 1px solid rgb(233, 224, 224);
    
          .MyLibraryBooksContent {
            height: 190px;
            width: 125px;
            // padding: 5px 5px 0px;
            // border-radius: 12px;
          }
      }
      .TitleandAuthorInfo {
        height: 25%;
        width: 100%;
        // border: 2px solid blue;
        display: flex;
        flex-direction: column;

        .LBCTheTitle {
          font-size: 13px;
        }

        .TheAuthor {
          width: 100%;
          height: 90%;
          // border: 2px solid orange;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
        }
      }
    }

    .LibraryBookCardButtons {
      width: 100%;
      height: 25%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-evenly;
      // border: 2px solid gold;

    .DeleteMyLibraryBook {
      background-color: rgba(185, 39, 39, 0.719);
    }
    .DeleteMyLibraryBook:hover {
      background-color: rgba(216, 29, 29, 0.884);
      color: rgb(237, 241, 241);
    }
  }
  }
}


// Toastify SASS


// Spinner

.Loading {
  padding: 0;
	text-align: center;
}

// Search Book Club

.SearchBookClubMain {
width: 100vw;
height: 100vh;
// border: 2px solid red;
margin-top: 57px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

 .SearchBookClubMainContainer {
  width: 95%;
  height: 98%;
  // border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;

  .SearchBookClubMainHeader {
    height: 10%;
    width: 95%;
    // border: 2px solid blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .AllBookClubsTitle {
      font-size: 30px;
      font-weight: bold;
    }

    .AllBookClubsSearchForm {
      width: 70%;
      height: 100%;
      display: flex;
      flex: row;
      align-items: center;
      // border: 2px solid green;

      #AllBookClubsSearchFormBar {
        width: 80%;
        margin: 0 auto;
      }
    }
  }

 .bookClubJoinTab {

  width: 95%;
  height: 12%;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3px auto;
  padding: 3px;
  background-color: lightblue;

    > * {
      width: 20%
    }

}

.joinButton {
  display: flex;
  align-items: center;
  flex-direction: row;
}
}


}

.userInfoTab {
  width: 100%;
  height: 12%;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3px auto;
  padding: 3px;
  background-color: lightblue;

    > * {
      width: 30%;
    }

}



 .userInfoMemberTab {

  width: 100%;
  height: 12%;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3px auto;
  padding: 3px;
  background-color: lightblue;

    > * {
      width: 50%;
    }


 
} 


