// Home SASS

.home-main {
  height: 100vh;
}

#maintitle {
  padding: 24px;
  margin-top: 60px;
}

#Carousel1 {
  margin-top: 30px;
}
#AboutSection {
  background-color: rgba($color: #bdb8b8, $alpha: 0.3);
}

#BookClubSection {
  background-color: rgba($color: #bdb8b8, $alpha: 0.3);
}

#mainfooter {
  background-color: rgba($color: #bdb8b8, $alpha: 0.3);
}

// Carousel SASS


// Navbar SASS

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: -webkit-linear-gradient(rgb(180, 237, 247), rgb(113, 175, 190));
}
// Login and Register SASS

#loginhero {
  #loginhero-body{
    background-image: url('https://www.sciencenewsforstudents.org/wp-content/uploads/2019/11/860_main_library_bacteria.png');
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
  }
}

#loginbox {
  animation: fade ease-in 1.5s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.8;
  }
}

#registerhero {
  #registerhero-body{
    background-image: url('https://www.sciencenewsforstudents.org/wp-content/uploads/2019/11/860_main_library_bacteria.png');
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
  }
}

#registerbox {
  animation: fade ease-in 1.5s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 0.8;
  }
}

// Categories SASS

#categorieshero {
  #categorieshero-body{
    background-image: url('https://www.sciencenewsforstudents.org/wp-content/uploads/2019/11/860_main_library_bacteria.png');
    background-position: center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
  }
}

// SearchBooks page for Logged In User

.searchBookMain {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.SearchForm {
  margin-top: 50px;
  padding-top: 27px;
  padding-left: 10px;
  width: 750px;
}

#searchbutton {
  margin-left: 10px;
  border-radius: 10px;
}

.BooksIndex {
  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .card-header {
    background-color: lighten(#548891, 10%);
  }
  .card-image img {
    width: auto;
    height: 300px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  .card-content {
    border-top: 1px solid #404f52;
  }
}

// New Book Card SASS

.card {
  background-color: #c1cfd1;
}

// Categories
.checkbox {
  padding: 20px;
}

// Profile
#booksProfileButton {
  margin-top: 20px;
}

#booksClubprofileButton {
  margin-top: 30px;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.file {
  margin-top: 18px;
  margin-left: 15px;
}


//Single Book Page SASS

.mainSingleBook {
  margin-top: 65px;
  height: 90vh;
}

.theSingleBookcontainer {
  height: 90vh;
  margin: 0px 15px;
  border: 2px solid black;
  background-color: rgba(236, 240, 243, 0.911);
  display: flex;
  flex-direction: column;
}

.theSingleBookInfocontainer{
  height: 100%;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;

  #SingleFigImg {
    border: 1px solid rgb(218, 226, 218);
    box-shadow: 0 0 0 0.1rem rgb(113, 175, 190);
    border-radius: 12px;
    margin-left: 50px;
    // padding: 5px;

  #SingleBookPageImg {
    height: 300px;
    width: 200px;
    padding: 5px 5px 0px;
    border-radius: 12px;
  }
 }
 .theSingleBookInfo {
    width: 80%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    // border: 2px solid blue;
    
  #SingleBookTitle{
    font-size: 30px;
    font-weight: 600;
  }
  .theSingleBookStats{
    // width: 100%;
    height: 100%;
    // border: 2px solid yellow;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;

    .SingleStats {
      width: 33.3%;
      height: 98%;
      border: 1px solid rgb(218, 226, 218);
      box-shadow: 0 0 0 0.1rem rgb(113, 175, 190);
      border-radius: 12px;
      margin: 5px 50px 0px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .generalSingleStatsListItem {
        padding: 20px 0px;

        .SingleStatsListTitle {
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: underline;
          color: #548891;
        }
      }

      .generalSingleRatingsListItem {
        padding: 20px 0px;

        .SingleRatingsListTitle {
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: underline;
          color: #548891;
        }
      }

      .to-top{
        color:rgb(127, 148, 194);
        margin-top: 10px;
        padding-top:1.8em;
        display:inline-block;/* or block */
        position:relative;
        border-color:rgb(151, 50, 50);
        text-decoration:none;
        transition:all .3s ease-out;
        animation: pulse 3s infinite;
      }
      
      @keyframes pulse {
        from {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      
        50% {
          -webkit-transform: scale3d(1.05, 1.05, 1.05);
          transform: scale3d(1.05, 1.05, 1.05);
        }
      
        to {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      }
      
      @-webkit-keyframes pulse {
        from {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      
        50% {
          -webkit-transform: scale3d(1.05, 1.05, 1.05);
          transform: scale3d(1.05, 1.05, 1.05);
        }
      
        to {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      }
      .to-top:before{
        content:'▲';
        font-size:0.9em;
        position:absolute;
        top:0;
        left:50%;
        margin-left:-0.7em;
        border:solid .13em rgb(209, 45, 45);
        border-radius:10em;
        width:1.4em;
        height:1.4em;
        line-height:1.1em;
        border-color:inherit;
        transition:transform .5s ease-in;
      }
      // .to-top:hover{
      //   color:rgb(172, 55, 75);
      //   border-color:rgb(168, 42, 63);
      // }
    }
  }
 }
}
.theCommentsInfocontainer {
  height: 100%;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;

  #userRatingandComments {
    width: 40%;
    height: 100%;
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;
    margin-left: -90px;

    .userRating {
      height: 15%;
      // border: 2px solid yellow;
    }

    .Comments {
      height: 85%;
      border: 1px solid rgb(218, 226, 218);
      box-shadow: 0 0 0 0.1rem rgb(113, 175, 190);
      border-radius: 12px;
      
      display: flex;
      flex-direction: column;

      #Commenttitle {
        margin-left: 10px;
        margin-top: 5px;
        font-size: 20px;
        text-decoration: underline;
      }
      .showComments {
        overflow: scroll;
        height: 100%;
        // border: 2px solid gold;
      }
    }
  }

}



//Detailed Book from Library Page SASS

.mainDetailedBook {
  margin-top: 65px;
  height: 90vh;
}

.theDetailedBookcontainer {
  height: 90vh;
  margin: 0px 15px;
  border: 2px solid black;
  background-color: rgba(236, 240, 243, 0.911);
  display: flex;
  flex-direction: column;
}

.theDetailedBookInfocontainer{
  height: 100%;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  margin: 10px;

  #DBPFigImg {
    border: 1px solid rgb(218, 226, 218);
    box-shadow: 0 0 0 0.1rem rgb(113, 175, 190);
    border-radius: 12px;
    margin-left: 50px;
    // padding: 5px;

  #DetailedBookPageImg {
    height: 300px;
    width: 200px;
    padding: 5px 5px 0px;
    border-radius: 12px;
  }
 }
 .theDetailedBookInfo {
    width: 80%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    // border: 2px solid blue;
    
  #DetailedBookTitle{
    font-size: 30px;
    font-weight: 600;
  }
  .theDetailedBookStats{
    // width: 100%;
    height: 100%;
    // border: 2px solid yellow;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;

    .stats {
      width: 33.3%;
      height: 98%;
      border: 1px solid rgb(218, 226, 218);
      box-shadow: 0 0 0 0.1rem rgb(113, 175, 190);
      border-radius: 12px;
      margin: 5px 50px 0px 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .generalStatsListItem {
        padding: 20px 0px;

        .statsListTitle {
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: underline;
          color: #548891;
        }
      }

      .generalRatingsListItem {
        padding: 20px 0px;

        .ratingsListTitle {
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: underline;
          color: #548891;
        }
      }

      .to-top{
        color:rgb(127, 148, 194);
        margin-top: 10px;
        padding-top:1.8em;
        display:inline-block;/* or block */
        position:relative;
        border-color:rgb(151, 50, 50);
        text-decoration:none;
        transition:all .3s ease-out;
        animation: pulse 3s infinite;
      }
      
      @keyframes pulse {
        from {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      
        50% {
          -webkit-transform: scale3d(1.05, 1.05, 1.05);
          transform: scale3d(1.05, 1.05, 1.05);
        }
      
        to {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      }
      
      @-webkit-keyframes pulse {
        from {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      
        50% {
          -webkit-transform: scale3d(1.05, 1.05, 1.05);
          transform: scale3d(1.05, 1.05, 1.05);
        }
      
        to {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      }
      .to-top:before{
        content:'▲';
        font-size:0.9em;
        position:absolute;
        top:0;
        left:50%;
        margin-left:-0.7em;
        border:solid .13em rgb(209, 45, 45);
        border-radius:10em;
        width:1.4em;
        height:1.4em;
        line-height:1.1em;
        border-color:inherit;
        transition:transform .5s ease-in;
      }
      // .to-top:hover{
      //   color:rgb(172, 55, 75);
      //   border-color:rgb(168, 42, 63);
      // }
    }
  }
 }
}
.theCommentsInfocontainer {
  height: 100%;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  padding: 10px;
  margin: 10px;

  #userRatingandComments {
    width: 40%;
    height: 100%;
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;
    margin-left: -90px;

    .userRating {
      height: 15%;
      // border: 2px solid yellow;
    }

    .Comments {
      height: 85%;
      border: 1px solid rgb(218, 226, 218);
      box-shadow: 0 0 0 0.1rem rgb(113, 175, 190);
      border-radius: 12px;
      
      display: flex;
      flex-direction: column;

      #Commenttitle {
        margin-left: 10px;
        margin-top: 5px;
        font-size: 20px;
        text-decoration: underline;
      }
      .showComments {
        overflow: scroll;
        height: 100%;
        // border: 2px solid gold;
      }
    }
  }

}




// Library Bookcard SASS

.mainLibraryBookCard {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
}


.BooksIndex {
  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .card-header {
    background-color: lighten(#548891, 10%);
  }
  .card-image img {
    width: auto;
    height: 300px;
    margin: 0 auto;
    padding: 40px 20px;
  }
  .card-content {
    border-top: 1px solid #404f52;
  }
}

// Toastify SASS


// Spinner

.Loading {
  padding: 0;
	text-align: center;
}